:host {
    display: block;
    contain: content;
    width: 100%;
    padding: 1em;
    border-radius: 5px;
    background-color: var(--bg-color-1);
}

#header-container {
    font-size: 2em;
    color: var(--font-color);
}

#content-container {
    font-size: 1.1em;
    color: var(--font-color);
    padding: 0 0.5em;
    margin: 1em 0;
    line-height: 1.4em;
    max-height: 250px;
    overflow: hidden;
}

#footer-container {
    display: flex;
    justify-content: space-between;
}

#reactions-list {
    display: flex;
    font-size: 1rem;
    font-weight: 500;
}
.reaction__container {
    display: flex;
    align-items: center;
}
.reaction__button {
    border-radius: 50%;
    border: none;
    padding: 0.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 0.2rem;
    transition: .2s ease-out background-color;
    color: var(--font-color);
}
.reaction__container .material-symbols-outlined {
    font-size: 1.3rem;
}

#reaction-positive-container {
    margin-right: 0.7rem;
}
#reaction-positive-counter {
    color: var(--green);
}
#reaction-positive-button {
    background-color: rgba(8, 183, 8, 0.37);
}
#reaction-positive-button:hover {
    background-color: rgba(8, 183, 8, 0.60);
}

#reaction-negative-counter {
    color: var(--red);
}
#reaction-negative-button {
    background-color: rgba(183, 8, 8, 0.37);
    color: var(--font-color);
}
#reaction-negative-button:hover {
    background-color: rgba(183, 8, 8, 0.60);
}