.centre {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.authorization {
    background-color: var(--bg-color-1);
    border-radius: 5px;
    padding: 1rem;
    padding-top: 2rem;
    width: 600px;
    margin: 0 auto;
}

.form {

}

.form__inputs {
    margin-bottom: 1.5rem;
    padding: 0 3rem;
}
.form__inputs > .input {
    margin-bottom: 1rem;
}
.form__inputs > .input:last-child {
    margin-bottom: 0;
}

.form__submit {
    display: flex;
    justify-content: center;
}

.authorization__link {
    margin-top: 2rem;
}