html, body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

:root {
    --bg-color-0: #15191c;
    --bg-color-1: #34393b;
    --bg-color-2: #3f4548;

    --green: #08b708;
    --red: #b70808;

    --font-color: #e1dfdf;
}

body {
    background-color: var(--bg-color-0);
}

.container {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 10px;
}
