.posts-list {
    width: 700px;
    margin: 0 auto;
}

.posts-list > .post {
    margin-bottom: 20px;
}
.posts-list > .post:last-child {
    margin-bottom: 0;
}

.post {
    width: 100%;
    padding: 1em;
    border-radius: 5px;
    background-color: #34393b;
}

.post__header {
    font-size: 2em;
    color: #e1dfdf;
}

.post__content {
    font-size: 1.1em;
    color: #e1dfdf;
    padding: 0 0.5em;
    margin: 1em 0;
    line-height: 1.4em;
    max-height: 250px;
    overflow: hidden;
}

.post__footer {
    display: flex;
    justify-content: space-between;
}

.reactions {
    display: flex;
    font-size: 1rem;
    font-weight: 500;
}
.reactions__container {
    display: flex;
    align-items: center;
}
.reactions__button {
    border-radius: 50%;
    border: none;
    padding: 0.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 0.2rem;
    transition: .2s ease-out background-color;
    color: #fff;
}
.reactions__container .material-symbols-outlined {
    font-size: 1.3rem;
}

.reactions__container_positive {
    margin-right: 0.7rem;
}
.reactions__container_positive > .reactions__counter {
    color: #08b708;
}
.reactions__container_positive > .reactions__button {
    background-color: rgba(8, 183, 8, 0.37);
}
.reactions__container_positive > .reactions__button:hover {
    background-color: rgba(8, 183, 8, 0.60);
}

.reactions__container_negative > .reactions__counter {
    color: #b70808;
}
.reactions__container_negative > .reactions__button {
    background-color: rgba(183, 8, 8, 0.37);
    color: #fff;
}
.reactions__container_negative > .reactions__button:hover {
    background-color: rgba(183, 8, 8, 0.60);
}


.post__open-button {
    padding: 0.6rem 1.8rem;
    font-size: 1rem;
    border-radius: 5px;
    background-color: rgba(150, 179, 255, 0.37);
    cursor: pointer;
    border: none;
    color: #fff;
    transition: .2s ease-out background-color;
}
.post__open-button:hover {
    background-color: rgba(150, 179, 255, 0.60);
}